# Pandas - Series

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## 시리즈 생성

In [2]:
s = pd.Series([9904312, 3448737, 2890451, 2466052])
s

0    9904312
1    3448737
2    2890451
3    2466052
dtype: int64

In [6]:
index=["서울", "부산", "인천", "대구"]
s = pd.Series([9904312, 3448737, 2890451, 2466052], index=index ,dtype=np.int32)
s

서울    9904312
부산    3448737
인천    2890451
대구    2466052
dtype: int32

In [7]:
# 시리즈의 값 - 넘파이의 배열
s.values

array([9904312, 3448737, 2890451, 2466052], dtype=int32)

In [10]:
# 시리즈의 인덱스
s.index

Index(['서울', '부산', '인천', '대구'], dtype='object')

In [11]:
s.name = '인구'
s.index.name = "도시"
s

도시
서울    9904312
부산    3448737
인천    2890451
대구    2466052
Name: 인구, dtype: int32

## 시리즈의 연산

In [12]:
s / 1000000

도시
서울    9.904312
부산    3.448737
인천    2.890451
대구    2.466052
Name: 인구, dtype: float64

## 시리즈 인덱싱

In [13]:
# 부산 인덱싱
s[1], s['부산']

(3448737, 3448737)

In [18]:
# fancy indexing
s[[0, 3, 1]]

도시
서울    9904312
대구    2466052
부산    3448737
Name: 인구, dtype: int32

In [17]:
s[['서울', '대구', '부산']]

도시
서울    9904312
대구    2466052
부산    3448737
Name: 인구, dtype: int32

In [19]:
# slicing
s[1:3]

도시
부산    3448737
인천    2890451
Name: 인구, dtype: int32

In [21]:
# 인덱스로 슬라이싱하면 마지막(대구)도 포함
s['부산':'대구']

도시
부산    3448737
인천    2890451
대구    2466052
Name: 인구, dtype: int32

In [22]:
# boolean indexing
s[np.logical_and(s > 2500000, s < 3000000)]

도시
인천    2890451
Name: 인구, dtype: int32

In [32]:
s[(2.5e6 < s) & (s < 3e6)]

도시
인천    2890451
Name: 인구, dtype: int32

In [34]:
s[np.logical_or(s < 2.5e6, s > 4e6)]

도시
서울    9904312
대구    2466052
Name: 인구, dtype: int32

In [30]:
s[np.logical_not(s < 2e6)]

도시
서울    9904312
부산    3448737
인천    2890451
대구    2466052
Name: 인구, dtype: int32

In [31]:
s.부산

3448737

In [35]:
q = pd.Series([0,1,2,3,4,5])
q[1:3]

1    1
2    2
dtype: int64

In [37]:
q.loc[1:3]

1    1
2    2
3    3
dtype: int64

In [38]:
q.iloc[1:3]

1    1
2    2
dtype: int64

In [39]:
'서울' in s, '대전' in s

(True, False)

In [40]:
s2 = pd.Series({"서울": 9631482, "부산": 3393191, "인천": 2632035, "대전": 1490158})
s2

서울    9631482
부산    3393191
인천    2632035
대전    1490158
dtype: int64

## 인덱스 기반 연산

In [41]:
s - s2

대구         NaN
대전         NaN
부산     55546.0
서울    272830.0
인천    258416.0
dtype: float64

In [42]:
s.values - s2.values

array([272830,  55546, 258416, 975894])

In [43]:
rs = (s - s2) / s2 * 100
rs

대구         NaN
대전         NaN
부산    1.636984
서울    2.832690
인천    9.818107
dtype: float64

In [45]:
rs = rs[rs.notnull()]
rs

부산    1.636984
서울    2.832690
인천    9.818107
dtype: float64

## 데이터의 갱신, 추가, 삭제

In [46]:
rs['부산'] = 1.63    # 갱신
rs

부산    1.630000
서울    2.832690
인천    9.818107
dtype: float64

In [47]:
rs['대구'] = 1.41    # 추가
rs

부산    1.630000
서울    2.832690
인천    9.818107
대구    1.410000
dtype: float64

In [48]:
del rs['부산']     # 삭제
rs

서울    2.832690
인천    9.818107
대구    1.410000
dtype: float64