# DataFrame class

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## 생성

In [6]:
data = {    
    "지역": ["수도권", "경상권", "수도권", "경상권"],
    "2000": [9853972, 3655437, 2466338, 2473990],
    "2005": [9762546, 3512547, 2517680, 2456016],
    "2010": [9631482, 3393191, 2632035, 2431774],
    "2015": [9904312, 3448737, 2890451, 2466052],
    "2010-2015 증가율": [0.0283, 0.0163, 0.0982, 0.0141]
}
index = ["서울", "부산", "인천", "대구"]
df = pd.DataFrame(data, index=index)
df

     지역     2000     2005     2010     2015  2010-2015 증가율
서울  수도권  9853972  9762546  9631482  9904312         0.0283
부산  경상권  3655437  3512547  3393191  3448737         0.0163
인천  수도권  2466338  2517680  2632035  2890451         0.0982
대구  경상권  2473990  2456016  2431774  2466052         0.0141

In [13]:
data = [["수도권", "경상권", "수도권", "경상권"], [9853972, 3655437, 2466338, 2473990], [9762546, 3512547, 2517680, 2456016],
        [9631482, 3393191, 2632035, 2431774], [9904312, 3448737, 2890451, 2466052], [0.0283, 0.0163, 0.0982, 0.0141]]
index = ['지역', '2000', '2005', '2010', '2015', '2010-2015 증가율']
columns = ['서울', '부산', '인천', '대구']
df_new = pd.DataFrame(data = data, columns=columns, index=index)
df_new = df_new.T
df_new

     지역     2000     2005     2010     2015 2010-2015 증가율
서울  수도권  9853972  9762546  9631482  9904312        0.0283
부산  경상권  3655437  3512547  3393191  3448737        0.0163
인천  수도권  2466338  2517680  2632035  2890451        0.0982
대구  경상권  2473990  2456016  2431774  2466052        0.0141